<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../assets/css/nilai-siswa.css" />
  <script src="https://kit.fontawesome.com/66d4c07337.js" crossorigin="anonymous"></script>
  <title>Mata Pelajaran</title>
</head>

<body>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <div class="row justify-content-center align-items-center">
          <div class="col">
            <img src="../assets/img/logo.png" alt="" width="60px" height="auto" class="align-text-top" />
          </div>
          <div class="col">
            <div class="text">Sistem Ujian Online</div>
            <div class="text">SMKN 4 MALANG</div>
          </div>
        </div>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse text-center navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
         
          <li class="nav-item">
            <div class="text nav-link active">Rahayu Putri S.Pd</div>
          </li>
          </li>
          <li class="nav-item me-5 ms-5">
            <a class="nav-link" href="impor-ujian.html">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container-fluid">
    <div class="container">

      <div class="input-group mb-3 mt-3" style="width: 300px;">
        <input type="text" class="form-control" aria-label="Recipient's username" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button">Cari</button>
        </div>
      </div>

      <div class="table-responsive">
        <table class="table table-bordered">
          <thead class="" style="background-color:#2666CF; color:white;"> 
            <tr style="white-space: nowrap;">
              <th scope="col">Nama Siswa</th>
              <th scope="col">Kelas</th>
              <th scope="col">Mata Pelajaran</th>
              <th scope="col">NIS</th>
              <th scope="col">Nilai</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Im Naeyon</td>
              <td>XII RPL C</td>
              <td>Bahasa Indonesia</td>
              <td>2012210</td>
              <td>80</td>
            </tr>
          
          </tbody>
          
        </table>
      </div>
    </div>

  </div>

  <footer>
    <div class="footer mt-5">
      <div class="container pt-4">
        Copyright 2022
      </div>
    </div>
  </footer>
</body>

</html>