<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" href="../assets/css/penjelasan.css" />
        <script src="https://kit.fontawesome.com/66d4c07337.js" crossorigin="anonymous"></script>
        <title>Mata Pelajaran</title>
    </head>
    <body>
    <!-- Navbar -->
        <nav class="navbar navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
            <div class="row justify-content-center align-items-center">
                <div class="col">
                <img src="../assets/img/logo.png" alt="" width="60px" height="auto" class="align-text-top" />
                </div>
                <div class="col">
                <div class="text">Sistem Ujian Online</div>
                <div class="text">SMKN 4 MALANG</div>
                </div>
            </div>
            </a>
        </div>
        </nav>
        <div class="container-fluid d-flex justify-content-center">
            <div class="table-responsive mt-5">
                <table class="table table-bordered border-dark">
                  <thead class="" style="background-color: white">
                    <tr style="white-space: nowrap;">
                      <th scope="col">Hari, tanggal</th>
                      <th scope="col">Mata Pelajaran</th>
                      <th scope="col">Nilai</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Senin, 1-1-2022</td>
                      <td>Bahasa Indonesia</td>
                      <td>0</td>
                      
                    </tr>
                  </tbody>
                </table>
              </div>
        </div>

        <footer>
          <div class="footer" style="margin-top: 19rem;">
            <div class="container pt-4">
              Copyright 2022
            </div>
          </div>
        </footer>
    </body>
</html>
